<div class="row clearfix">
    <div class="col-lg-12 contentBox">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12 col-md-12">
                    <div class="x-panel">
                        <div class="x-title">
                            <h3><span class="fa fa-lock"> รายการสิทธิ์การใช้งานระบบ</span></h3>
                        </div>
                        <div class="x-content">
                            <div class="form-inline flex-row">
                                <div class="form-group p-2">
                                    <a [routerLink]="['/permissionadd']" type="button" class="btn btn-success"><span class="fa fa-plus"></span> เพิ่มสิทธิ์การใช้งานระบบ</a>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อสิทธิ์การใช้งานระบบ</th>
                                        <th>วันที่สร้าง</th>
                                        <th>แก้ไขรายการล่าสุด</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-03-18</td>
                                        <td>2020-03-18</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ผู้เพิ่มข้อมูล</td>
                                        <td>2020-03-18</td>
                                        <td>2020-03-18</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>ผู้อนุมัติรายการ</td>
                                        <td>2020-03-18</td>
                                        <td>2020-03-18</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>ผู้ตรวจสอบควบคุม</td>
                                        <td>2020-03-18</td>
                                        <td>2020-03-18</td>
                                        <td>#</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>