<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form [formGroup]="formData" (ngSubmit)="LoginSumit2()" class="form-signin">
        <div class="title">
            <h1>CBAS</h1>
            <p>Customer Bank Account System</p>
        </div>
        <input type="text" formControlName="Username" class="form-control " placeholder="Username ">
        <input type="password" formControlName="Password" class="form-control" placeholder="Password ">
        <button type="submit" [disabled]="!formData.valid" class="btn btn-lg btn-light btn-block ">Sign in</button>
    </form>
</body>

</html>