<div class="row clearfix">
    <div class="col-lg-12 contentBox">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="x-panel">
                            <div class="x-title">
                                <!-- <span class="fa fa-user-plus"></span> -->
                                <h3>เพิ่มผู้ใช้งานระบบ</h3>
                            </div>
                            <div class="x-content">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">ค้นหาพนักงาน</label>
                                            <div class="col-sm-6 col-md-6 form-inline">
                                                <input type="text" id="" class="form-control" style="width:75%;" placeholder="รหัสพนักงาน หรือ ชื่อพนักงาน">
                                                <button type="button" class="btn btn-primary ml-2"><span class="fa fa-search"></span> ค้นหา</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="ln-solid"></div> -->

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">รหัสพนักงาน StaffID</label>
                                            <div class="col-sm-4 col-md-4">
                                                <input type="text" class="form-control" id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="ln-solid"></div> -->

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">Username</label>
                                            <div class="col-sm-4 col-md-4">
                                                <input type="text" class="form-control" id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="ln-solid"></div> -->

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">ชื่อ - นามสกุล</label>
                                            <div class="col-sm-5 col-md-5">
                                                <input type="text" class="form-control" id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="ln-solid"></div> -->

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">รายการสิทธิ์การใช้งานระบบ</label>
                                            <div class="col-sm-4 col-md-4">
                                                <select name="" id="" class="form-control">
                                                    <option value="">SuperAdmin</option>
                                                    <option value="">ผู้เพิ่มข้อมูล</option>
                                                    <option value="">ผู้อนุมัติรายการ</option>
                                                    <option value="">ผู้ตรวจสอบควบคุม</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="ln-solid"></div> -->

                                    <div class="form-group">
                                        <div class="row">
                                            <label for="" class="col-form-label c-label col-sm-3 col-md-3">สถานะการใช้งาน</label>
                                            <div class="col-sm-3 col-md-3">
                                                <select name="" id="" class="form-control">
                                                    <option value="">เปิดใช้งาน</option>
                                                    <option value="">ปิดใช้งาน</option>
                                                    <option value="">ผู้อนุมัติรายการ</option>
                                                    <option value="">ผู้ตรวจสอบควบคุม</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln-solid"></div>

                                    <div class="row justify-content-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success m-1">เพิ่มข้อมูล</button>
                                            <button type="button" class="btn btn-danger m-1">ยกเลิก</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>