<div class="row clearfix">
    <div class="col-lg-12 contentBox">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12 col-md-12">
                    <div class="x-panel">
                        <div class="x-title">
                            <h3><span class="fa fa-user"> รายการผู้ใช้งานระบบ</span></h3>
                        </div>
                        <div class="x-content">
                            <div class="form-inline flex-row">
                                <div class="form-group p-2">
                                    <a [routerLink]="['/useradd']" type="button" class="btn btn-success"><span class="fa fa-user-plus"></span> เพิ่มผู้ใช้งานระบบ</a>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>รหัสผู้ใช้งาน</th>
                                        <th>ชื่อผู้ใช้งาน</th>
                                        <th>สิทธิ์การใช้งานระบบ</th>
                                        <th>สถานะ</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>UMS-00001</td>
                                        <td>นาย IT</td>
                                        <td>SuperAdmin</td>
                                        <td>เปิดใช้งาน</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>UMS-00001</td>
                                        <td>นาย IT</td>
                                        <td>SuperAdmin</td>
                                        <td>เปิดใช้งาน</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>UMS-00001</td>
                                        <td>นาย IT</td>
                                        <td>SuperAdmin</td>
                                        <td>เปิดใช้งาน</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>UMS-00001</td>
                                        <td>นาย IT</td>
                                        <td>SuperAdmin</td>
                                        <td>เปิดใช้งาน</td>
                                        <td>#</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>UMS-00001</td>
                                        <td>นาย IT</td>
                                        <td>SuperAdmin</td>
                                        <td>เปิดใช้งาน</td>
                                        <td>#</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>