<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">

                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <form class="form-signin">
                                <div class="title">
                                    <h1>CBAS</h1>
                                    <p>Customer Bank Account System</p>
                                </div>

                                <input type="text" id="inputUser" class="form-control" placeholder="Username">
                                <input type="password" class="form-control" placeholder="Password">

                                <button type="button" class="btn btn-lg btn-light btn-block">Sign in</button>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>